.banners {
    background-color: var(--gray);
    position: relative;
    padding-bottom: min(105px, max(var(--vw)* 105, 40px));
    &__box {
        margin: 0 auto;
        width: 100vw;
    }
    &__grid {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, max(17vw, 100px));
        grid-template-rows:  repeat(5, max(17vw, 100px));
    }

    &__item {
        position: relative;
        border-right: 1px solid var(--green);
        border-bottom: 1px solid var(--green);
        z-index: 10;
    }
    &__item:nth-child(6n)  {
        border-right: 0;
    }
    &__item:nth-last-child(-n+6)  {
        border-bottom: 0;
    }
    &__line {
        border-bottom: 2px solid var(--yellow);
        top: min(204px, max(var(--vw)* 204, 150px));
        position: relative;
    }

    &__block {
        padding-top: min(290px, max(var(--vw)* 290, 20px));
        position: relative;
    }
    &__wearenoodz {
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        padding: min(16px, max(var(--vw)* 16, 10px));
        border: 2px solid var(--violet);
        background-color: var(--yellow);
        margin: 0 auto;
        width: min(214px, max(var(--vw)* 214, 150px));
        z-index: 10;
        position: relative;
        top: 61px;
        left: 11px;
        color: var(--violet);
        @media (max-width: 412px) {
            font-size: 12px;
            padding: 6px;
            width: 100px;
        }
    }
    &__row {
        display: flex;
        justify-content: center;
    }
    &__picture {
        position: relative;
        border: 3px solid var(--violet);
        &_we {
            transform: rotateZ(-18deg);
            width: min(491px, max(var(--vw)* 491, 50px));
            height: min(515px, max(var(--vw)* 515, 53px));
            left: min(84px, max(var(--vw)* 84, 0px));
        }
        &_are {
            width: min(457px, max(var(--vw)* 457, 50px));
            height: min(484px, max(var(--vw)* 484, 53px));
            transform: rotateZ(16deg);
            left: 8px;
            top: 15px;
            @media (max-width: 768px) {
                left: 0;
            }
        }
        &_noodz {
            width: min(491px, max(var(--vw)* 491, 50px));
            height: min(515px, max(var(--vw)* 515, 52px));
            transform: rotateZ(-17deg);
            left: calc(-1 * min(84px, max(var(--vw)* 84, 0px)));
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }
}
