.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 600px;
    margin: 90px auto 0;
    padding: 20px;

    &__label {
        font-size: 97px;
        font-size: min(97px, max(var(--vw)* 97, 36px));
        line-height: 112px;
        line-height: min(112px, max(var(--vw)* 112, 45px));
        color: var(--green);
        text-align: center;
    }

    &__field {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--green);
    }

    &__input {
        padding-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        width: 90%;
    }


    &__input::placeholder {
        text-transform: uppercase;
        color: var(--green);
    }
    &__input:focus {
        outline: 0;
        // box-shadow: 0px 0px 5px var(--green);
        border-radius: 4px;
    }
    &__button {
        display: flex;
        align-items: flex-start;
    }
    &__arrow {
        width: 27px;
        height: 24px;
        fill: var(--green);
    }

}

