// Colors
:root {
    --yellow: #E1FD2C;
    --yellow-hover: #9acd4f;
    --yellow-lite: #d4f405;
    --green: #16774A;
    --pink: #F6A0A9;
    --gray: #BBD4D0;
    --violet: #4F2479;
    --white: white;
}


