@use './assets/sass/general/gi';
@use './assets/sass/components/ui';
@use './assets/sass/helpers/classes.scss';
@use './assets/sass/main';
@use './block/header/header.scss';
@use './block/header-content/header-content.scss';
@use './block/prime/prime.scss';
@use './block/questions/questions.scss';
@use './block/banners/banners.scss';
@use './block/smiley/smiley.scss';
@use './block/form/form.scss';
@use './block/footer/footer.scss';
