.wrapper {
    background-color: var(--green);
    overflow-x: hidden;
}

// прячем заголовок h1 
.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

.attention {
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--attention);
    color: var(--text-attention);
    padding: 10px;
    text-align: center;
}


.face {
    display: flex;
    margin: 0 0 0 auto;
    // width: 450px;
    width: min(450px, max(var(--vw)* 450, 100px));
    // height: 492px;
    height: min(492px, max(var(--vw)* 492, 109px));
    transform: rotateZ(-16deg);
    z-index: 10;
    position: absolute;
    // top: -113px;
    // top: -min(113px, max(var(--vw)* 113, 64px));
    right: 30px;
    // top: -255px;
    top: calc(-1 * min(263px, max(var(--vw)* 263, 10px)));

    &__img {
        // border-radius: 49px;
        border-radius: min(49px, max(var(--vw)* 49, 16px));
        max-width: 100%;
        height: auto;
    }
}

.zoom-hover {
    transform: scale(1);
    transition: transform .3s, fill .3s;
    cursor: pointer;
    &:hover {
        fill: var(--primary);
        transform: scale(1.2);
    }
}